<header id="page-topbar" class="isvertical-topbar">
  <div class="navbar-header">
      <div class="d-flex">


          <div class="d-none d-sm-block ms-3 align-self-center">
              <h4 class="page-title">Dashboard</h4>
          </div>

      </div>

      <div class="d-flex">
          <div class="dropdown">
              <button type="button" class="btn header-item"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-sm" data-eva="search-outline"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-0">
                  <form class="p-2">
                      <div class="search-box">
                          <div class="position-relative">
                              <input type="text" class="form-control bg-light border-0" placeholder="Search...">
                              <i class="search-icon" data-eva="search-outline" data-eva-height="26" data-eva-width="26"></i>
                          </div>
                      </div>
                  </form>
              </div>
          </div>



          <div class="dropdown d-none d-lg-inline-block">
              <button type="button" class="btn header-item noti-icon"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-sm" data-eva="grid-outline"></i>
              </button>

          </div>


          <div class="dropdown d-inline-block">
              <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-sm" data-eva="bell-outline"></i>
                  <span class="noti-dot bg-danger rounded-pill">4</span>
              </button>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                  aria-labelledby="page-header-notifications-dropdown">
                  <div class="p-3">
                      <div class="row align-items-center">
                          <div class="col">
                              <h5 class="m-0 font-size-15"> Notifications </h5>
                          </div>
                          <div class="col-auto">
                              <a href="#!" class="small fw-semibold text-decoration-underline"> Mark all as read</a>
                          </div>
                      </div>
                  </div>


              </div>
          </div>



          <div class="dropdown d-inline-block">
              <button type="button" class="btn header-item user text-start d-flex align-items-center" id="page-header-user-dropdown"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg"
                  alt="Header Avatar">
              </button>

          </div>
      </div>
  </div>
</header>
<header id="page-topbar" class="ishorizontal-topbar">
  <div class="navbar-header">
      <div class="d-flex">



          <div class="d-none d-sm-block ms-2 align-self-center">
              <h4 class="page-title">Dashboard</h4>
          </div>
      </div>


  </div>

</header>

