<div class="vertical-menu">


  <div class="navbar-brand-box">


      <a href="#" class="logo logo-light">
          <span class="logo-lg">
              <img src="assets/images/saeGroupe.png" alt="" height="70">
          </span>

      </a>
  </div>



  <div data-simplebar class="sidebar-menu-scroll">


      <div id="sidebar-menu">

          <ul class="metismenu list-unstyled" id="side-menu">
              <li class="menu-title" data-key="t-menu">Menu</li>

              <li>
                  <a href="/dashboard">
                      <i class="icon nav-icon" data-eva="grid-outline"></i>
                      <span class="menu-item" data-key="t-dashboards">Dashboards</span>

                  </a>

              </li>

              <li>
                <a href="/robot">
                    <i class="icon nav-icon" data-eva="calendar-outline"></i>
                    <span class="menu-item" data-key="t-robot">Robot</span>
                </a>
            </li>
            <li>
              <a href="/ajouter-robot">
                  <i class="icon nav-icon" data-eva="t-robot"></i>
                  <span class="menu-item" data-key="t-robot">ajouter robot</span>
              </a>
          </li>
          <li>
            <a href="/modifier-robot">
                <i class="icon nav-icon" ></i>
                <span class="menu-item" data-key="t-robot">modifier robot</span>
            </a>
        </li>
        <li>
          <a href="/supprimer-robot">
              <i class="icon nav-icon" ></i>
              <span class="menu-item" data-key="t-robot">supprimer robot</span>
          </a>
      </li>
      <li>
        <a href="/visualiser-robot">
            <i class="icon nav-icon" ></i>
            <span class="menu-item" data-key="t-robot">visualiser robot</span>
        </a>
    </li>

              <li>
                  <a href="#">
                      <i class="icon nav-icon" data-eva="t-machine"></i>
                      <span class="menu-item" data-key="t-robot">Machine</span>
                  </a>
              </li>

          </ul>
      </div>


  </div>
</div>
